<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>cid05741</key>
    <string>cid05741.glif</string>
    <key>cid09654</key>
    <string>cid09654.glif</string>
    <key>cid09668</key>
    <string>cid09668.glif</string>
    <key>cid10000</key>
    <string>cid10000.glif</string>
    <key>cid10107</key>
    <string>cid10107.glif</string>
    <key>cid10182</key>
    <string>cid10182.glif</string>
    <key>cid10250</key>
    <string>cid10250.glif</string>
    <key>cid10467</key>
    <string>cid10467.glif</string>
    <key>cid10514</key>
    <string>cid10514.glif</string>
    <key>cid10556</key>
    <string>cid10556.glif</string>
    <key>cid10569</key>
    <string>cid10569.glif</string>
    <key>cid10573</key>
    <string>cid10573.glif</string>
    <key>cid10575</key>
    <string>cid10575.glif</string>
    <key>cid10625</key>
    <string>cid10625.glif</string>
    <key>cid10666</key>
    <string>cid10666.glif</string>
    <key>cid10678</key>
    <string>cid10678.glif</string>
    <key>cid10680</key>
    <string>cid10680.glif</string>
    <key>cid10695</key>
    <string>cid10695.glif</string>
    <key>cid10729</key>
    <string>cid10729.glif</string>
    <key>cid10731</key>
    <string>cid10731.glif</string>
    <key>cid10740</key>
    <string>cid10740.glif</string>
    <key>cid10747</key>
    <string>cid10747.glif</string>
    <key>cid10773</key>
    <string>cid10773.glif</string>
    <key>cid10787</key>
    <string>cid10787.glif</string>
    <key>cid10818</key>
    <string>cid10818.glif</string>
    <key>cid10826</key>
    <string>cid10826.glif</string>
    <key>cid10952</key>
    <string>cid10952.glif</string>
    <key>cid10969</key>
    <string>cid10969.glif</string>
    <key>cid11081</key>
    <string>cid11081.glif</string>
    <key>cid11083</key>
    <string>cid11083.glif</string>
    <key>cid11190</key>
    <string>cid11190.glif</string>
    <key>cid11258</key>
    <string>cid11258.glif</string>
    <key>cid11284</key>
    <string>cid11284.glif</string>
    <key>cid11337</key>
    <string>cid11337.glif</string>
    <key>cid11476</key>
    <string>cid11476.glif</string>
    <key>cid11506</key>
    <string>cid11506.glif</string>
    <key>cid11517</key>
    <string>cid11517.glif</string>
    <key>cid11571</key>
    <string>cid11571.glif</string>
    <key>cid11632</key>
    <string>cid11632.glif</string>
    <key>cid11648</key>
    <string>cid11648.glif</string>
    <key>cid11651</key>
    <string>cid11651.glif</string>
    <key>cid11654</key>
    <string>cid11654.glif</string>
    <key>cid11685</key>
    <string>cid11685.glif</string>
    <key>cid11775</key>
    <string>cid11775.glif</string>
    <key>cid11816</key>
    <string>cid11816.glif</string>
    <key>cid12226</key>
    <string>cid12226.glif</string>
    <key>cid12237</key>
    <string>cid12237.glif</string>
    <key>cid12275</key>
    <string>cid12275.glif</string>
    <key>cid12327</key>
    <string>cid12327.glif</string>
    <key>cid12409</key>
    <string>cid12409.glif</string>
    <key>cid12526</key>
    <string>cid12526.glif</string>
    <key>cid12585</key>
    <string>cid12585.glif</string>
    <key>cid12594</key>
    <string>cid12594.glif</string>
    <key>cid12599</key>
    <string>cid12599.glif</string>
    <key>cid12603</key>
    <string>cid12603.glif</string>
    <key>cid12604</key>
    <string>cid12604.glif</string>
    <key>cid12606</key>
    <string>cid12606.glif</string>
    <key>cid12613</key>
    <string>cid12613.glif</string>
    <key>cid12616</key>
    <string>cid12616.glif</string>
    <key>cid12617</key>
    <string>cid12617.glif</string>
    <key>cid12624</key>
    <string>cid12624.glif</string>
    <key>cid12625</key>
    <string>cid12625.glif</string>
    <key>cid12628</key>
    <string>cid12628.glif</string>
    <key>cid12630</key>
    <string>cid12630.glif</string>
    <key>cid12633</key>
    <string>cid12633.glif</string>
    <key>cid12635</key>
    <string>cid12635.glif</string>
    <key>cid12638</key>
    <string>cid12638.glif</string>
    <key>cid12639</key>
    <string>cid12639.glif</string>
    <key>cid12641</key>
    <string>cid12641.glif</string>
    <key>cid12645</key>
    <string>cid12645.glif</string>
    <key>cid12650</key>
    <string>cid12650.glif</string>
    <key>cid12651</key>
    <string>cid12651.glif</string>
    <key>cid12653</key>
    <string>cid12653.glif</string>
    <key>cid12654</key>
    <string>cid12654.glif</string>
    <key>cid12656</key>
    <string>cid12656.glif</string>
    <key>cid12658</key>
    <string>cid12658.glif</string>
    <key>cid12659</key>
    <string>cid12659.glif</string>
    <key>cid12662</key>
    <string>cid12662.glif</string>
    <key>cid12663</key>
    <string>cid12663.glif</string>
    <key>cid12696</key>
    <string>cid12696.glif</string>
    <key>cid12702</key>
    <string>cid12702.glif</string>
    <key>cid12710</key>
    <string>cid12710.glif</string>
    <key>cid12738</key>
    <string>cid12738.glif</string>
    <key>cid12754</key>
    <string>cid12754.glif</string>
    <key>cid12760</key>
    <string>cid12760.glif</string>
    <key>cid12784</key>
    <string>cid12784.glif</string>
    <key>cid12788</key>
    <string>cid12788.glif</string>
    <key>cid12793</key>
    <string>cid12793.glif</string>
    <key>cid12804</key>
    <string>cid12804.glif</string>
    <key>cid12845</key>
    <string>cid12845.glif</string>
    <key>cid12924</key>
    <string>cid12924.glif</string>
    <key>cid12925</key>
    <string>cid12925.glif</string>
    <key>cid12939</key>
    <string>cid12939.glif</string>
    <key>cid12945</key>
    <string>cid12945.glif</string>
    <key>cid12954</key>
    <string>cid12954.glif</string>
    <key>cid12992</key>
    <string>cid12992.glif</string>
    <key>cid13027</key>
    <string>cid13027.glif</string>
    <key>cid13061</key>
    <string>cid13061.glif</string>
    <key>cid13069</key>
    <string>cid13069.glif</string>
    <key>cid13206</key>
    <string>cid13206.glif</string>
    <key>cid13212</key>
    <string>cid13212.glif</string>
    <key>cid13216</key>
    <string>cid13216.glif</string>
    <key>cid13223</key>
    <string>cid13223.glif</string>
    <key>cid13224</key>
    <string>cid13224.glif</string>
    <key>cid13228</key>
    <string>cid13228.glif</string>
    <key>cid13231</key>
    <string>cid13231.glif</string>
    <key>cid13237</key>
    <string>cid13237.glif</string>
    <key>cid13482</key>
    <string>cid13482.glif</string>
    <key>cid13514</key>
    <string>cid13514.glif</string>
    <key>cid13642</key>
    <string>cid13642.glif</string>
    <key>cid13686</key>
    <string>cid13686.glif</string>
    <key>cid13693</key>
    <string>cid13693.glif</string>
    <key>cid13821</key>
    <string>cid13821.glif</string>
    <key>cid13834</key>
    <string>cid13834.glif</string>
    <key>cid13838</key>
    <string>cid13838.glif</string>
    <key>cid13841</key>
    <string>cid13841.glif</string>
    <key>cid13965</key>
    <string>cid13965.glif</string>
    <key>cid13972</key>
    <string>cid13972.glif</string>
    <key>cid14167</key>
    <string>cid14167.glif</string>
    <key>cid14421</key>
    <string>cid14421.glif</string>
    <key>cid14540</key>
    <string>cid14540.glif</string>
    <key>cid15003</key>
    <string>cid15003.glif</string>
    <key>cid15067</key>
    <string>cid15067.glif</string>
    <key>cid15115</key>
    <string>cid15115.glif</string>
    <key>cid15137</key>
    <string>cid15137.glif</string>
    <key>cid15253</key>
    <string>cid15253.glif</string>
    <key>cid15294</key>
    <string>cid15294.glif</string>
    <key>cid15421</key>
    <string>cid15421.glif</string>
    <key>cid15654</key>
    <string>cid15654.glif</string>
    <key>cid15728</key>
    <string>cid15728.glif</string>
    <key>cid15735</key>
    <string>cid15735.glif</string>
    <key>cid15795</key>
    <string>cid15795.glif</string>
    <key>cid15868</key>
    <string>cid15868.glif</string>
    <key>cid15883</key>
    <string>cid15883.glif</string>
    <key>cid15905</key>
    <string>cid15905.glif</string>
    <key>cid15952</key>
    <string>cid15952.glif</string>
    <key>cid16096</key>
    <string>cid16096.glif</string>
    <key>cid16118</key>
    <string>cid16118.glif</string>
    <key>cid16138</key>
    <string>cid16138.glif</string>
    <key>cid16167</key>
    <string>cid16167.glif</string>
    <key>cid16196</key>
    <string>cid16196.glif</string>
    <key>cid16227</key>
    <string>cid16227.glif</string>
    <key>cid16243</key>
    <string>cid16243.glif</string>
    <key>cid16338</key>
    <string>cid16338.glif</string>
    <key>cid16445</key>
    <string>cid16445.glif</string>
    <key>cid16453</key>
    <string>cid16453.glif</string>
    <key>cid16569</key>
    <string>cid16569.glif</string>
    <key>cid16689</key>
    <string>cid16689.glif</string>
    <key>cid16755</key>
    <string>cid16755.glif</string>
    <key>cid16762</key>
    <string>cid16762.glif</string>
    <key>cid16772</key>
    <string>cid16772.glif</string>
    <key>cid16779</key>
    <string>cid16779.glif</string>
    <key>cid16799</key>
    <string>cid16799.glif</string>
    <key>cid16801</key>
    <string>cid16801.glif</string>
    <key>cid16816</key>
    <string>cid16816.glif</string>
    <key>cid16822</key>
    <string>cid16822.glif</string>
    <key>cid16824</key>
    <string>cid16824.glif</string>
    <key>cid16837</key>
    <string>cid16837.glif</string>
    <key>cid16874</key>
    <string>cid16874.glif</string>
    <key>cid16877</key>
    <string>cid16877.glif</string>
    <key>cid16956</key>
    <string>cid16956.glif</string>
    <key>cid17013</key>
    <string>cid17013.glif</string>
    <key>cid17051</key>
    <string>cid17051.glif</string>
    <key>cid17070</key>
    <string>cid17070.glif</string>
    <key>cid17072</key>
    <string>cid17072.glif</string>
    <key>cid17129</key>
    <string>cid17129.glif</string>
    <key>cid17156</key>
    <string>cid17156.glif</string>
    <key>cid17168</key>
    <string>cid17168.glif</string>
    <key>cid17270</key>
    <string>cid17270.glif</string>
    <key>cid17282</key>
    <string>cid17282.glif</string>
    <key>cid17287</key>
    <string>cid17287.glif</string>
    <key>cid17520</key>
    <string>cid17520.glif</string>
    <key>cid17550</key>
    <string>cid17550.glif</string>
    <key>cid17559</key>
    <string>cid17559.glif</string>
    <key>cid17616</key>
    <string>cid17616.glif</string>
    <key>cid17737</key>
    <string>cid17737.glif</string>
    <key>cid17746</key>
    <string>cid17746.glif</string>
    <key>cid17758</key>
    <string>cid17758.glif</string>
    <key>cid17786</key>
    <string>cid17786.glif</string>
    <key>cid17789</key>
    <string>cid17789.glif</string>
    <key>cid17814</key>
    <string>cid17814.glif</string>
    <key>cid17937</key>
    <string>cid17937.glif</string>
    <key>cid17944</key>
    <string>cid17944.glif</string>
    <key>cid17951</key>
    <string>cid17951.glif</string>
    <key>cid17986</key>
    <string>cid17986.glif</string>
    <key>cid18014</key>
    <string>cid18014.glif</string>
    <key>cid18039</key>
    <string>cid18039.glif</string>
    <key>cid18070</key>
    <string>cid18070.glif</string>
    <key>cid18161</key>
    <string>cid18161.glif</string>
    <key>cid18169</key>
    <string>cid18169.glif</string>
    <key>cid18278</key>
    <string>cid18278.glif</string>
    <key>cid18284</key>
    <string>cid18284.glif</string>
    <key>cid18393</key>
    <string>cid18393.glif</string>
    <key>cid18434</key>
    <string>cid18434.glif</string>
    <key>cid18440</key>
    <string>cid18440.glif</string>
    <key>cid18530</key>
    <string>cid18530.glif</string>
    <key>cid18600</key>
    <string>cid18600.glif</string>
    <key>cid18617</key>
    <string>cid18617.glif</string>
    <key>cid18810</key>
    <string>cid18810.glif</string>
    <key>cid19003</key>
    <string>cid19003.glif</string>
    <key>cid19117</key>
    <string>cid19117.glif</string>
    <key>cid19204</key>
    <string>cid19204.glif</string>
    <key>cid19252</key>
    <string>cid19252.glif</string>
    <key>cid19269</key>
    <string>cid19269.glif</string>
    <key>cid19288</key>
    <string>cid19288.glif</string>
    <key>cid19289</key>
    <string>cid19289.glif</string>
    <key>cid19335</key>
    <string>cid19335.glif</string>
    <key>cid19349</key>
    <string>cid19349.glif</string>
    <key>cid19352</key>
    <string>cid19352.glif</string>
    <key>cid19368</key>
    <string>cid19368.glif</string>
    <key>cid19402</key>
    <string>cid19402.glif</string>
    <key>cid19415</key>
    <string>cid19415.glif</string>
    <key>cid19465</key>
    <string>cid19465.glif</string>
    <key>cid19512</key>
    <string>cid19512.glif</string>
    <key>cid19539</key>
    <string>cid19539.glif</string>
    <key>cid19542</key>
    <string>cid19542.glif</string>
    <key>cid19560</key>
    <string>cid19560.glif</string>
    <key>cid19562</key>
    <string>cid19562.glif</string>
    <key>cid19606</key>
    <string>cid19606.glif</string>
    <key>cid19659</key>
    <string>cid19659.glif</string>
    <key>cid19664</key>
    <string>cid19664.glif</string>
    <key>cid19666</key>
    <string>cid19666.glif</string>
    <key>cid19677</key>
    <string>cid19677.glif</string>
    <key>cid19679</key>
    <string>cid19679.glif</string>
    <key>cid19718</key>
    <string>cid19718.glif</string>
    <key>cid19742</key>
    <string>cid19742.glif</string>
    <key>cid19765</key>
    <string>cid19765.glif</string>
    <key>cid19777</key>
    <string>cid19777.glif</string>
    <key>cid19839</key>
    <string>cid19839.glif</string>
    <key>cid19848</key>
    <string>cid19848.glif</string>
    <key>cid19877</key>
    <string>cid19877.glif</string>
    <key>cid19944</key>
    <string>cid19944.glif</string>
    <key>cid19967</key>
    <string>cid19967.glif</string>
    <key>cid19995</key>
    <string>cid19995.glif</string>
    <key>cid20000</key>
    <string>cid20000.glif</string>
    <key>cid20025</key>
    <string>cid20025.glif</string>
    <key>cid20029</key>
    <string>cid20029.glif</string>
    <key>cid20077</key>
    <string>cid20077.glif</string>
    <key>cid20101</key>
    <string>cid20101.glif</string>
    <key>cid20125</key>
    <string>cid20125.glif</string>
    <key>cid20333</key>
    <string>cid20333.glif</string>
    <key>cid20381</key>
    <string>cid20381.glif</string>
    <key>cid20413</key>
    <string>cid20413.glif</string>
    <key>cid20418</key>
    <string>cid20418.glif</string>
    <key>cid20429</key>
    <string>cid20429.glif</string>
    <key>cid20484</key>
    <string>cid20484.glif</string>
    <key>cid20525</key>
    <string>cid20525.glif</string>
    <key>cid20531</key>
    <string>cid20531.glif</string>
    <key>cid20641</key>
    <string>cid20641.glif</string>
    <key>cid20661</key>
    <string>cid20661.glif</string>
    <key>cid20663</key>
    <string>cid20663.glif</string>
    <key>cid20671</key>
    <string>cid20671.glif</string>
    <key>cid20677</key>
    <string>cid20677.glif</string>
    <key>cid20732</key>
    <string>cid20732.glif</string>
    <key>cid20856</key>
    <string>cid20856.glif</string>
    <key>cid21032</key>
    <string>cid21032.glif</string>
    <key>cid21042</key>
    <string>cid21042.glif</string>
    <key>cid21058</key>
    <string>cid21058.glif</string>
    <key>cid21199</key>
    <string>cid21199.glif</string>
    <key>cid21206</key>
    <string>cid21206.glif</string>
    <key>cid21284</key>
    <string>cid21284.glif</string>
    <key>cid21652</key>
    <string>cid21652.glif</string>
    <key>cid21672</key>
    <string>cid21672.glif</string>
    <key>cid21719</key>
    <string>cid21719.glif</string>
    <key>cid21973</key>
    <string>cid21973.glif</string>
    <key>cid21981</key>
    <string>cid21981.glif</string>
    <key>cid22021</key>
    <string>cid22021.glif</string>
    <key>cid22034</key>
    <string>cid22034.glif</string>
    <key>cid22081</key>
    <string>cid22081.glif</string>
    <key>cid22134</key>
    <string>cid22134.glif</string>
    <key>cid22146</key>
    <string>cid22146.glif</string>
    <key>cid22196</key>
    <string>cid22196.glif</string>
    <key>cid22251</key>
    <string>cid22251.glif</string>
    <key>cid22282</key>
    <string>cid22282.glif</string>
    <key>cid22324</key>
    <string>cid22324.glif</string>
    <key>cid22368</key>
    <string>cid22368.glif</string>
    <key>cid22424</key>
    <string>cid22424.glif</string>
    <key>cid22441</key>
    <string>cid22441.glif</string>
    <key>cid22455</key>
    <string>cid22455.glif</string>
    <key>cid22564</key>
    <string>cid22564.glif</string>
    <key>cid22574</key>
    <string>cid22574.glif</string>
    <key>cid22583</key>
    <string>cid22583.glif</string>
    <key>cid22618</key>
    <string>cid22618.glif</string>
    <key>cid22729</key>
    <string>cid22729.glif</string>
    <key>cid22795</key>
    <string>cid22795.glif</string>
    <key>cid22820</key>
    <string>cid22820.glif</string>
    <key>cid22839</key>
    <string>cid22839.glif</string>
    <key>cid22848</key>
    <string>cid22848.glif</string>
    <key>cid22859</key>
    <string>cid22859.glif</string>
    <key>cid22888</key>
    <string>cid22888.glif</string>
    <key>cid22935</key>
    <string>cid22935.glif</string>
    <key>cid22939</key>
    <string>cid22939.glif</string>
    <key>cid23469</key>
    <string>cid23469.glif</string>
    <key>cid23487</key>
    <string>cid23487.glif</string>
    <key>cid23567</key>
    <string>cid23567.glif</string>
    <key>cid23731</key>
    <string>cid23731.glif</string>
    <key>cid23758</key>
    <string>cid23758.glif</string>
    <key>cid23780</key>
    <string>cid23780.glif</string>
    <key>cid23799</key>
    <string>cid23799.glif</string>
    <key>cid23805</key>
    <string>cid23805.glif</string>
    <key>cid23874</key>
    <string>cid23874.glif</string>
    <key>cid23904</key>
    <string>cid23904.glif</string>
    <key>cid24028</key>
    <string>cid24028.glif</string>
    <key>cid24142</key>
    <string>cid24142.glif</string>
    <key>cid24165</key>
    <string>cid24165.glif</string>
    <key>cid24193</key>
    <string>cid24193.glif</string>
    <key>cid24246</key>
    <string>cid24246.glif</string>
    <key>cid24247</key>
    <string>cid24247.glif</string>
    <key>cid24257</key>
    <string>cid24257.glif</string>
    <key>cid24269</key>
    <string>cid24269.glif</string>
    <key>cid24362</key>
    <string>cid24362.glif</string>
    <key>cid24377</key>
    <string>cid24377.glif</string>
    <key>cid24558</key>
    <string>cid24558.glif</string>
    <key>cid24572</key>
    <string>cid24572.glif</string>
    <key>cid24633</key>
    <string>cid24633.glif</string>
    <key>cid24682</key>
    <string>cid24682.glif</string>
    <key>cid24709</key>
    <string>cid24709.glif</string>
    <key>cid24723</key>
    <string>cid24723.glif</string>
    <key>cid24750</key>
    <string>cid24750.glif</string>
    <key>cid24778</key>
    <string>cid24778.glif</string>
    <key>cid24788</key>
    <string>cid24788.glif</string>
    <key>cid24802</key>
    <string>cid24802.glif</string>
    <key>cid24807</key>
    <string>cid24807.glif</string>
    <key>cid24819</key>
    <string>cid24819.glif</string>
    <key>cid24973</key>
    <string>cid24973.glif</string>
    <key>cid25087</key>
    <string>cid25087.glif</string>
    <key>cid25254</key>
    <string>cid25254.glif</string>
    <key>cid25287</key>
    <string>cid25287.glif</string>
    <key>cid25397</key>
    <string>cid25397.glif</string>
    <key>cid25589</key>
    <string>cid25589.glif</string>
    <key>cid25622</key>
    <string>cid25622.glif</string>
    <key>cid25635</key>
    <string>cid25635.glif</string>
    <key>cid25676</key>
    <string>cid25676.glif</string>
    <key>cid25705</key>
    <string>cid25705.glif</string>
    <key>cid25767</key>
    <string>cid25767.glif</string>
    <key>cid25768</key>
    <string>cid25768.glif</string>
    <key>cid25779</key>
    <string>cid25779.glif</string>
    <key>cid25888</key>
    <string>cid25888.glif</string>
    <key>cid25935</key>
    <string>cid25935.glif</string>
    <key>cid25948</key>
    <string>cid25948.glif</string>
    <key>cid26059</key>
    <string>cid26059.glif</string>
    <key>cid26167</key>
    <string>cid26167.glif</string>
    <key>cid26170</key>
    <string>cid26170.glif</string>
    <key>cid26196</key>
    <string>cid26196.glif</string>
    <key>cid26197</key>
    <string>cid26197.glif</string>
    <key>cid26290</key>
    <string>cid26290.glif</string>
    <key>cid26406</key>
    <string>cid26406.glif</string>
    <key>cid26458</key>
    <string>cid26458.glif</string>
    <key>cid26479</key>
    <string>cid26479.glif</string>
    <key>cid26664</key>
    <string>cid26664.glif</string>
    <key>cid26673</key>
    <string>cid26673.glif</string>
    <key>cid26769</key>
    <string>cid26769.glif</string>
    <key>cid26795</key>
    <string>cid26795.glif</string>
    <key>cid26819</key>
    <string>cid26819.glif</string>
    <key>cid26979</key>
    <string>cid26979.glif</string>
    <key>cid27032</key>
    <string>cid27032.glif</string>
    <key>cid27148</key>
    <string>cid27148.glif</string>
    <key>cid27177</key>
    <string>cid27177.glif</string>
    <key>cid27200</key>
    <string>cid27200.glif</string>
    <key>cid27452</key>
    <string>cid27452.glif</string>
    <key>cid27456</key>
    <string>cid27456.glif</string>
    <key>cid27493</key>
    <string>cid27493.glif</string>
    <key>cid27595</key>
    <string>cid27595.glif</string>
    <key>cid27639</key>
    <string>cid27639.glif</string>
    <key>cid27655</key>
    <string>cid27655.glif</string>
    <key>cid27672</key>
    <string>cid27672.glif</string>
    <key>cid27675</key>
    <string>cid27675.glif</string>
    <key>cid27837</key>
    <string>cid27837.glif</string>
    <key>cid27847</key>
    <string>cid27847.glif</string>
    <key>cid27875</key>
    <string>cid27875.glif</string>
    <key>cid27938</key>
    <string>cid27938.glif</string>
    <key>cid27987</key>
    <string>cid27987.glif</string>
    <key>cid28148</key>
    <string>cid28148.glif</string>
    <key>cid28182</key>
    <string>cid28182.glif</string>
    <key>cid28516</key>
    <string>cid28516.glif</string>
    <key>cid28533</key>
    <string>cid28533.glif</string>
    <key>cid28541</key>
    <string>cid28541.glif</string>
    <key>cid28571</key>
    <string>cid28571.glif</string>
    <key>cid28589</key>
    <string>cid28589.glif</string>
    <key>cid28633</key>
    <string>cid28633.glif</string>
    <key>cid28677</key>
    <string>cid28677.glif</string>
    <key>cid28690</key>
    <string>cid28690.glif</string>
    <key>cid28724</key>
    <string>cid28724.glif</string>
    <key>cid28780</key>
    <string>cid28780.glif</string>
    <key>cid29032</key>
    <string>cid29032.glif</string>
    <key>cid29232</key>
    <string>cid29232.glif</string>
    <key>cid29258</key>
    <string>cid29258.glif</string>
    <key>cid29294</key>
    <string>cid29294.glif</string>
    <key>cid29296</key>
    <string>cid29296.glif</string>
    <key>cid29308</key>
    <string>cid29308.glif</string>
    <key>cid29312</key>
    <string>cid29312.glif</string>
    <key>cid29321</key>
    <string>cid29321.glif</string>
    <key>cid29369</key>
    <string>cid29369.glif</string>
    <key>cid29485</key>
    <string>cid29485.glif</string>
    <key>cid29594</key>
    <string>cid29594.glif</string>
    <key>cid29597</key>
    <string>cid29597.glif</string>
    <key>cid29604</key>
    <string>cid29604.glif</string>
    <key>cid29613</key>
    <string>cid29613.glif</string>
    <key>cid29652</key>
    <string>cid29652.glif</string>
    <key>cid29654</key>
    <string>cid29654.glif</string>
    <key>cid29666</key>
    <string>cid29666.glif</string>
    <key>cid30017</key>
    <string>cid30017.glif</string>
    <key>cid30104</key>
    <string>cid30104.glif</string>
    <key>cid30170</key>
    <string>cid30170.glif</string>
    <key>cid30175</key>
    <string>cid30175.glif</string>
    <key>cid30219</key>
    <string>cid30219.glif</string>
    <key>cid30313</key>
    <string>cid30313.glif</string>
    <key>cid30338</key>
    <string>cid30338.glif</string>
    <key>cid30359</key>
    <string>cid30359.glif</string>
    <key>cid30407</key>
    <string>cid30407.glif</string>
    <key>cid30453</key>
    <string>cid30453.glif</string>
    <key>cid30457</key>
    <string>cid30457.glif</string>
    <key>cid30501</key>
    <string>cid30501.glif</string>
    <key>cid30567</key>
    <string>cid30567.glif</string>
    <key>cid30577</key>
    <string>cid30577.glif</string>
    <key>cid30603</key>
    <string>cid30603.glif</string>
    <key>cid30635</key>
    <string>cid30635.glif</string>
    <key>cid30653</key>
    <string>cid30653.glif</string>
    <key>cid30655</key>
    <string>cid30655.glif</string>
    <key>cid30677</key>
    <string>cid30677.glif</string>
    <key>cid30680</key>
    <string>cid30680.glif</string>
    <key>cid30706</key>
    <string>cid30706.glif</string>
    <key>cid30709</key>
    <string>cid30709.glif</string>
    <key>cid30721</key>
    <string>cid30721.glif</string>
    <key>cid30726</key>
    <string>cid30726.glif</string>
    <key>cid31166</key>
    <string>cid31166.glif</string>
    <key>cid31285</key>
    <string>cid31285.glif</string>
    <key>cid31295</key>
    <string>cid31295.glif</string>
    <key>cid31315</key>
    <string>cid31315.glif</string>
    <key>cid31468</key>
    <string>cid31468.glif</string>
    <key>cid31477</key>
    <string>cid31477.glif</string>
    <key>cid31570</key>
    <string>cid31570.glif</string>
    <key>cid31576</key>
    <string>cid31576.glif</string>
    <key>cid31622</key>
    <string>cid31622.glif</string>
    <key>cid31644</key>
    <string>cid31644.glif</string>
    <key>cid31902</key>
    <string>cid31902.glif</string>
    <key>cid32209</key>
    <string>cid32209.glif</string>
    <key>cid32296</key>
    <string>cid32296.glif</string>
    <key>cid32488</key>
    <string>cid32488.glif</string>
    <key>cid32521</key>
    <string>cid32521.glif</string>
    <key>cid32598</key>
    <string>cid32598.glif</string>
    <key>cid32753</key>
    <string>cid32753.glif</string>
    <key>cid33116</key>
    <string>cid33116.glif</string>
    <key>cid33170</key>
    <string>cid33170.glif</string>
    <key>cid33183</key>
    <string>cid33183.glif</string>
    <key>cid33283</key>
    <string>cid33283.glif</string>
    <key>cid33292</key>
    <string>cid33292.glif</string>
    <key>cid33343</key>
    <string>cid33343.glif</string>
    <key>cid33349</key>
    <string>cid33349.glif</string>
    <key>cid33352</key>
    <string>cid33352.glif</string>
    <key>cid33355</key>
    <string>cid33355.glif</string>
    <key>cid33410</key>
    <string>cid33410.glif</string>
    <key>cid33427</key>
    <string>cid33427.glif</string>
    <key>cid33430</key>
    <string>cid33430.glif</string>
    <key>cid33433</key>
    <string>cid33433.glif</string>
    <key>cid33453</key>
    <string>cid33453.glif</string>
    <key>cid33616</key>
    <string>cid33616.glif</string>
    <key>cid34009</key>
    <string>cid34009.glif</string>
    <key>cid34286</key>
    <string>cid34286.glif</string>
    <key>cid34556</key>
    <string>cid34556.glif</string>
    <key>cid34645</key>
    <string>cid34645.glif</string>
    <key>cid34701</key>
    <string>cid34701.glif</string>
    <key>cid34749</key>
    <string>cid34749.glif</string>
    <key>cid34770</key>
    <string>cid34770.glif</string>
    <key>cid34914</key>
    <string>cid34914.glif</string>
    <key>cid34967</key>
    <string>cid34967.glif</string>
    <key>cid34972</key>
    <string>cid34972.glif</string>
    <key>cid35066</key>
    <string>cid35066.glif</string>
    <key>cid35115</key>
    <string>cid35115.glif</string>
    <key>cid35154</key>
    <string>cid35154.glif</string>
    <key>cid35167</key>
    <string>cid35167.glif</string>
    <key>cid35198</key>
    <string>cid35198.glif</string>
    <key>cid35233</key>
    <string>cid35233.glif</string>
    <key>cid35274</key>
    <string>cid35274.glif</string>
    <key>cid35379</key>
    <string>cid35379.glif</string>
    <key>cid35448</key>
    <string>cid35448.glif</string>
    <key>cid35574</key>
    <string>cid35574.glif</string>
    <key>cid35585</key>
    <string>cid35585.glif</string>
    <key>cid35612</key>
    <string>cid35612.glif</string>
    <key>cid35630</key>
    <string>cid35630.glif</string>
    <key>cid35650</key>
    <string>cid35650.glif</string>
    <key>cid35659</key>
    <string>cid35659.glif</string>
    <key>cid35667</key>
    <string>cid35667.glif</string>
    <key>cid35686</key>
    <string>cid35686.glif</string>
    <key>cid35757</key>
    <string>cid35757.glif</string>
    <key>cid35783</key>
    <string>cid35783.glif</string>
    <key>cid35801</key>
    <string>cid35801.glif</string>
    <key>cid35862</key>
    <string>cid35862.glif</string>
    <key>cid35916</key>
    <string>cid35916.glif</string>
    <key>cid35940</key>
    <string>cid35940.glif</string>
    <key>cid35944</key>
    <string>cid35944.glif</string>
    <key>cid35955</key>
    <string>cid35955.glif</string>
    <key>cid35981</key>
    <string>cid35981.glif</string>
    <key>cid35985</key>
    <string>cid35985.glif</string>
    <key>cid35993</key>
    <string>cid35993.glif</string>
    <key>cid35999</key>
    <string>cid35999.glif</string>
    <key>cid36024</key>
    <string>cid36024.glif</string>
    <key>cid36031</key>
    <string>cid36031.glif</string>
    <key>cid36033</key>
    <string>cid36033.glif</string>
    <key>cid36050</key>
    <string>cid36050.glif</string>
    <key>cid36056</key>
    <string>cid36056.glif</string>
    <key>cid36059</key>
    <string>cid36059.glif</string>
    <key>cid36064</key>
    <string>cid36064.glif</string>
    <key>cid36070</key>
    <string>cid36070.glif</string>
    <key>cid36105</key>
    <string>cid36105.glif</string>
    <key>cid36109</key>
    <string>cid36109.glif</string>
    <key>cid36113</key>
    <string>cid36113.glif</string>
    <key>cid36123</key>
    <string>cid36123.glif</string>
    <key>cid36126</key>
    <string>cid36126.glif</string>
    <key>cid36149</key>
    <string>cid36149.glif</string>
    <key>cid36151</key>
    <string>cid36151.glif</string>
    <key>cid36154</key>
    <string>cid36154.glif</string>
    <key>cid36170</key>
    <string>cid36170.glif</string>
    <key>cid36175</key>
    <string>cid36175.glif</string>
    <key>cid36198</key>
    <string>cid36198.glif</string>
    <key>cid36210</key>
    <string>cid36210.glif</string>
    <key>cid36219</key>
    <string>cid36219.glif</string>
    <key>cid36235</key>
    <string>cid36235.glif</string>
    <key>cid36256</key>
    <string>cid36256.glif</string>
    <key>cid36261</key>
    <string>cid36261.glif</string>
    <key>cid36273</key>
    <string>cid36273.glif</string>
    <key>cid36283</key>
    <string>cid36283.glif</string>
    <key>cid36310</key>
    <string>cid36310.glif</string>
    <key>cid36313</key>
    <string>cid36313.glif</string>
    <key>cid36316</key>
    <string>cid36316.glif</string>
    <key>cid36333</key>
    <string>cid36333.glif</string>
    <key>cid36335</key>
    <string>cid36335.glif</string>
    <key>cid36357</key>
    <string>cid36357.glif</string>
    <key>cid36390</key>
    <string>cid36390.glif</string>
    <key>cid36430</key>
    <string>cid36430.glif</string>
    <key>cid36440</key>
    <string>cid36440.glif</string>
    <key>cid36454</key>
    <string>cid36454.glif</string>
    <key>cid36465</key>
    <string>cid36465.glif</string>
    <key>cid36467</key>
    <string>cid36467.glif</string>
    <key>cid36473</key>
    <string>cid36473.glif</string>
    <key>cid36481</key>
    <string>cid36481.glif</string>
    <key>cid36483</key>
    <string>cid36483.glif</string>
    <key>cid36530</key>
    <string>cid36530.glif</string>
    <key>cid36544</key>
    <string>cid36544.glif</string>
    <key>cid36552</key>
    <string>cid36552.glif</string>
    <key>cid36576</key>
    <string>cid36576.glif</string>
    <key>cid36590</key>
    <string>cid36590.glif</string>
    <key>cid36605</key>
    <string>cid36605.glif</string>
    <key>cid36607</key>
    <string>cid36607.glif</string>
    <key>cid36629</key>
    <string>cid36629.glif</string>
    <key>cid36637</key>
    <string>cid36637.glif</string>
    <key>cid36682</key>
    <string>cid36682.glif</string>
    <key>cid36721</key>
    <string>cid36721.glif</string>
    <key>cid36928</key>
    <string>cid36928.glif</string>
    <key>cid37031</key>
    <string>cid37031.glif</string>
    <key>cid37155</key>
    <string>cid37155.glif</string>
    <key>cid37196</key>
    <string>cid37196.glif</string>
    <key>cid37294</key>
    <string>cid37294.glif</string>
    <key>cid37419</key>
    <string>cid37419.glif</string>
    <key>cid37430</key>
    <string>cid37430.glif</string>
    <key>cid38023</key>
    <string>cid38023.glif</string>
    <key>cid38052</key>
    <string>cid38052.glif</string>
    <key>cid38250</key>
    <string>cid38250.glif</string>
    <key>cid38348</key>
    <string>cid38348.glif</string>
    <key>cid38359</key>
    <string>cid38359.glif</string>
    <key>cid38381</key>
    <string>cid38381.glif</string>
    <key>cid38401</key>
    <string>cid38401.glif</string>
    <key>cid38631</key>
    <string>cid38631.glif</string>
    <key>cid38637</key>
    <string>cid38637.glif</string>
    <key>cid38677</key>
    <string>cid38677.glif</string>
    <key>cid38814</key>
    <string>cid38814.glif</string>
    <key>cid38907</key>
    <string>cid38907.glif</string>
    <key>cid38921</key>
    <string>cid38921.glif</string>
    <key>cid38942</key>
    <string>cid38942.glif</string>
    <key>cid38958</key>
    <string>cid38958.glif</string>
    <key>cid38967</key>
    <string>cid38967.glif</string>
    <key>cid39146</key>
    <string>cid39146.glif</string>
    <key>cid39231</key>
    <string>cid39231.glif</string>
    <key>cid39413</key>
    <string>cid39413.glif</string>
    <key>cid39459</key>
    <string>cid39459.glif</string>
    <key>cid39488</key>
    <string>cid39488.glif</string>
    <key>cid39628</key>
    <string>cid39628.glif</string>
    <key>cid39640</key>
    <string>cid39640.glif</string>
    <key>cid39659</key>
    <string>cid39659.glif</string>
    <key>cid39660</key>
    <string>cid39660.glif</string>
    <key>cid39666</key>
    <string>cid39666.glif</string>
    <key>cid39669</key>
    <string>cid39669.glif</string>
    <key>cid39675</key>
    <string>cid39675.glif</string>
    <key>cid39676</key>
    <string>cid39676.glif</string>
    <key>cid39682</key>
    <string>cid39682.glif</string>
    <key>cid39720</key>
    <string>cid39720.glif</string>
    <key>cid39723</key>
    <string>cid39723.glif</string>
    <key>cid39724</key>
    <string>cid39724.glif</string>
    <key>cid39726</key>
    <string>cid39726.glif</string>
    <key>cid39732</key>
    <string>cid39732.glif</string>
    <key>cid39740</key>
    <string>cid39740.glif</string>
    <key>cid39742</key>
    <string>cid39742.glif</string>
    <key>cid39752</key>
    <string>cid39752.glif</string>
    <key>cid39754</key>
    <string>cid39754.glif</string>
    <key>cid39755</key>
    <string>cid39755.glif</string>
    <key>cid39756</key>
    <string>cid39756.glif</string>
    <key>cid39771</key>
    <string>cid39771.glif</string>
    <key>cid39773</key>
    <string>cid39773.glif</string>
    <key>cid39775</key>
    <string>cid39775.glif</string>
    <key>cid39780</key>
    <string>cid39780.glif</string>
    <key>cid39798</key>
    <string>cid39798.glif</string>
    <key>cid39801</key>
    <string>cid39801.glif</string>
    <key>cid39807</key>
    <string>cid39807.glif</string>
    <key>cid39811</key>
    <string>cid39811.glif</string>
    <key>cid39831</key>
    <string>cid39831.glif</string>
    <key>cid39841</key>
    <string>cid39841.glif</string>
    <key>cid39843</key>
    <string>cid39843.glif</string>
    <key>cid39856</key>
    <string>cid39856.glif</string>
    <key>cid39858</key>
    <string>cid39858.glif</string>
    <key>cid39866</key>
    <string>cid39866.glif</string>
    <key>cid39873</key>
    <string>cid39873.glif</string>
    <key>cid39875</key>
    <string>cid39875.glif</string>
    <key>cid39888</key>
    <string>cid39888.glif</string>
    <key>cid39909</key>
    <string>cid39909.glif</string>
    <key>cid39998</key>
    <string>cid39998.glif</string>
    <key>cid40009</key>
    <string>cid40009.glif</string>
    <key>cid40147</key>
    <string>cid40147.glif</string>
    <key>cid40175</key>
    <string>cid40175.glif</string>
    <key>cid40183</key>
    <string>cid40183.glif</string>
    <key>cid40203</key>
    <string>cid40203.glif</string>
    <key>cid40423</key>
    <string>cid40423.glif</string>
    <key>cid40426</key>
    <string>cid40426.glif</string>
    <key>cid40474</key>
    <string>cid40474.glif</string>
    <key>cid40504</key>
    <string>cid40504.glif</string>
    <key>cid40517</key>
    <string>cid40517.glif</string>
    <key>cid40527</key>
    <string>cid40527.glif</string>
    <key>cid40536</key>
    <string>cid40536.glif</string>
    <key>cid40546</key>
    <string>cid40546.glif</string>
    <key>cid40552</key>
    <string>cid40552.glif</string>
    <key>cid40581</key>
    <string>cid40581.glif</string>
    <key>cid40589</key>
    <string>cid40589.glif</string>
    <key>cid40598</key>
    <string>cid40598.glif</string>
    <key>cid40612</key>
    <string>cid40612.glif</string>
    <key>cid40616</key>
    <string>cid40616.glif</string>
    <key>cid40827</key>
    <string>cid40827.glif</string>
    <key>cid40866</key>
    <string>cid40866.glif</string>
    <key>cid40927</key>
    <string>cid40927.glif</string>
    <key>cid40932</key>
    <string>cid40932.glif</string>
    <key>cid40934</key>
    <string>cid40934.glif</string>
    <key>cid40944</key>
    <string>cid40944.glif</string>
    <key>cid40955</key>
    <string>cid40955.glif</string>
    <key>cid40981</key>
    <string>cid40981.glif</string>
    <key>cid40993</key>
    <string>cid40993.glif</string>
    <key>cid40995</key>
    <string>cid40995.glif</string>
    <key>cid40998</key>
    <string>cid40998.glif</string>
    <key>cid41018</key>
    <string>cid41018.glif</string>
    <key>cid41024</key>
    <string>cid41024.glif</string>
    <key>cid41028</key>
    <string>cid41028.glif</string>
    <key>cid41047</key>
    <string>cid41047.glif</string>
    <key>cid41050</key>
    <string>cid41050.glif</string>
    <key>cid41060</key>
    <string>cid41060.glif</string>
    <key>cid41064</key>
    <string>cid41064.glif</string>
    <key>cid41068</key>
    <string>cid41068.glif</string>
    <key>cid41084</key>
    <string>cid41084.glif</string>
    <key>cid41091</key>
    <string>cid41091.glif</string>
    <key>cid41105</key>
    <string>cid41105.glif</string>
    <key>cid41109</key>
    <string>cid41109.glif</string>
    <key>cid41120</key>
    <string>cid41120.glif</string>
    <key>cid41181</key>
    <string>cid41181.glif</string>
    <key>cid41195</key>
    <string>cid41195.glif</string>
    <key>cid41561</key>
    <string>cid41561.glif</string>
    <key>cid41775</key>
    <string>cid41775.glif</string>
    <key>cid41947</key>
    <string>cid41947.glif</string>
    <key>cid42205</key>
    <string>cid42205.glif</string>
    <key>cid42553</key>
    <string>cid42553.glif</string>
    <key>cid42964</key>
    <string>cid42964.glif</string>
    <key>cid42991</key>
    <string>cid42991.glif</string>
    <key>cid43154</key>
    <string>cid43154.glif</string>
    <key>cid43191</key>
    <string>cid43191.glif</string>
    <key>cid43366</key>
    <string>cid43366.glif</string>
    <key>cid43385</key>
    <string>cid43385.glif</string>
    <key>cid43398</key>
    <string>cid43398.glif</string>
    <key>cid43406</key>
    <string>cid43406.glif</string>
    <key>cid43415</key>
    <string>cid43415.glif</string>
    <key>cid43690</key>
    <string>cid43690.glif</string>
    <key>cid43695</key>
    <string>cid43695.glif</string>
    <key>cid43717</key>
    <string>cid43717.glif</string>
    <key>cid43721</key>
    <string>cid43721.glif</string>
    <key>cid43748</key>
    <string>cid43748.glif</string>
    <key>cid43752</key>
    <string>cid43752.glif</string>
    <key>cid43792</key>
    <string>cid43792.glif</string>
    <key>cid43804</key>
    <string>cid43804.glif</string>
    <key>cid43846</key>
    <string>cid43846.glif</string>
    <key>cid43854</key>
    <string>cid43854.glif</string>
    <key>cid44068</key>
    <string>cid44068.glif</string>
    <key>cid44081</key>
    <string>cid44081.glif</string>
    <key>cid44100</key>
    <string>cid44100.glif</string>
    <key>cid44128</key>
    <string>cid44128.glif</string>
    <key>cid44147</key>
    <string>cid44147.glif</string>
    <key>cid44213</key>
    <string>cid44213.glif</string>
    <key>cid44218</key>
    <string>cid44218.glif</string>
    <key>cid44223</key>
    <string>cid44223.glif</string>
    <key>cid44228</key>
    <string>cid44228.glif</string>
    <key>cid44236</key>
    <string>cid44236.glif</string>
    <key>cid44245</key>
    <string>cid44245.glif</string>
    <key>cid44263</key>
    <string>cid44263.glif</string>
    <key>cid44600</key>
    <string>cid44600.glif</string>
    <key>cid44748</key>
    <string>cid44748.glif</string>
    <key>cid44753</key>
    <string>cid44753.glif</string>
    <key>cid44757</key>
    <string>cid44757.glif</string>
    <key>cid44758</key>
    <string>cid44758.glif</string>
    <key>cid44774</key>
    <string>cid44774.glif</string>
    <key>cid44795</key>
    <string>cid44795.glif</string>
    <key>cid44799</key>
    <string>cid44799.glif</string>
    <key>cid44810</key>
    <string>cid44810.glif</string>
    <key>cid44813</key>
    <string>cid44813.glif</string>
    <key>cid44817</key>
    <string>cid44817.glif</string>
    <key>cid44819</key>
    <string>cid44819.glif</string>
    <key>cid44823</key>
    <string>cid44823.glif</string>
    <key>cid44837</key>
    <string>cid44837.glif</string>
    <key>cid44867</key>
    <string>cid44867.glif</string>
    <key>cid44870</key>
    <string>cid44870.glif</string>
    <key>cid44894</key>
    <string>cid44894.glif</string>
    <key>cid44912</key>
    <string>cid44912.glif</string>
    <key>cid44952</key>
    <string>cid44952.glif</string>
    <key>cid44966</key>
    <string>cid44966.glif</string>
    <key>cid44980</key>
    <string>cid44980.glif</string>
    <key>cid44989</key>
    <string>cid44989.glif</string>
    <key>cid44992</key>
    <string>cid44992.glif</string>
    <key>cid44996</key>
    <string>cid44996.glif</string>
    <key>cid45028</key>
    <string>cid45028.glif</string>
    <key>cid45032</key>
    <string>cid45032.glif</string>
    <key>cid45041</key>
    <string>cid45041.glif</string>
    <key>cid45047</key>
    <string>cid45047.glif</string>
    <key>cid45052</key>
    <string>cid45052.glif</string>
    <key>cid45053</key>
    <string>cid45053.glif</string>
    <key>cid45057</key>
    <string>cid45057.glif</string>
    <key>cid45070</key>
    <string>cid45070.glif</string>
    <key>cid45152</key>
    <string>cid45152.glif</string>
    <key>cid45156</key>
    <string>cid45156.glif</string>
    <key>cid45179</key>
    <string>cid45179.glif</string>
    <key>cid45190</key>
    <string>cid45190.glif</string>
    <key>cid45203</key>
    <string>cid45203.glif</string>
    <key>cid45206</key>
    <string>cid45206.glif</string>
    <key>cid45240</key>
    <string>cid45240.glif</string>
    <key>cid45250</key>
    <string>cid45250.glif</string>
    <key>cid45254</key>
    <string>cid45254.glif</string>
    <key>cid45255</key>
    <string>cid45255.glif</string>
    <key>cid45265</key>
    <string>cid45265.glif</string>
    <key>cid45458</key>
    <string>cid45458.glif</string>
    <key>cid45499</key>
    <string>cid45499.glif</string>
    <key>cid45505</key>
    <string>cid45505.glif</string>
    <key>cid45508</key>
    <string>cid45508.glif</string>
    <key>cid45533</key>
    <string>cid45533.glif</string>
    <key>cid45546</key>
    <string>cid45546.glif</string>
    <key>cid45721</key>
    <string>cid45721.glif</string>
    <key>cid45885</key>
    <string>cid45885.glif</string>
    <key>cid46039</key>
    <string>cid46039.glif</string>
    <key>cid46171</key>
    <string>cid46171.glif</string>
    <key>cid46204</key>
    <string>cid46204.glif</string>
    <key>cid46282</key>
    <string>cid46282.glif</string>
    <key>cid46337</key>
    <string>cid46337.glif</string>
    <key>cid46350</key>
    <string>cid46350.glif</string>
    <key>cid46352</key>
    <string>cid46352.glif</string>
    <key>cid46359</key>
    <string>cid46359.glif</string>
    <key>cid46362</key>
    <string>cid46362.glif</string>
    <key>cid46402</key>
    <string>cid46402.glif</string>
    <key>cid46477</key>
    <string>cid46477.glif</string>
    <key>cid46544</key>
    <string>cid46544.glif</string>
    <key>cid46555</key>
    <string>cid46555.glif</string>
    <key>cid46679</key>
    <string>cid46679.glif</string>
    <key>cid46782</key>
    <string>cid46782.glif</string>
    <key>cid46788</key>
    <string>cid46788.glif</string>
    <key>cid46790</key>
    <string>cid46790.glif</string>
    <key>cid46949</key>
    <string>cid46949.glif</string>
    <key>cid46966</key>
    <string>cid46966.glif</string>
    <key>cid46972</key>
    <string>cid46972.glif</string>
    <key>cid46976</key>
    <string>cid46976.glif</string>
    <key>cid47018</key>
    <string>cid47018.glif</string>
    <key>cid47025</key>
    <string>cid47025.glif</string>
    <key>cid47033</key>
    <string>cid47033.glif</string>
    <key>cid47040</key>
    <string>cid47040.glif</string>
    <key>cid47043</key>
    <string>cid47043.glif</string>
    <key>cid47045</key>
    <string>cid47045.glif</string>
    <key>cid47048</key>
    <string>cid47048.glif</string>
    <key>cid47062</key>
    <string>cid47062.glif</string>
    <key>cid47075</key>
    <string>cid47075.glif</string>
    <key>cid47087</key>
    <string>cid47087.glif</string>
    <key>cid47099</key>
    <string>cid47099.glif</string>
    <key>cid47348</key>
    <string>cid47348.glif</string>
    <key>cid47360</key>
    <string>cid47360.glif</string>
    <key>cid47366</key>
    <string>cid47366.glif</string>
    <key>cid47383</key>
    <string>cid47383.glif</string>
    <key>cid47461</key>
    <string>cid47461.glif</string>
    <key>cid47464</key>
    <string>cid47464.glif</string>
    <key>cid60021</key>
    <string>cid60021.glif</string>
    <key>cid60123</key>
    <string>cid60123.glif</string>
    <key>cid60149</key>
    <string>cid60149.glif</string>
    <key>cid60658</key>
    <string>cid60658.glif</string>
    <key>cid60810</key>
    <string>cid60810.glif</string>
    <key>cid61223</key>
    <string>cid61223.glif</string>
    <key>cid61512</key>
    <string>cid61512.glif</string>
    <key>cid61976</key>
    <string>cid61976.glif</string>
    <key>cid62103</key>
    <string>cid62103.glif</string>
    <key>cid62129</key>
    <string>cid62129.glif</string>
    <key>cid62236</key>
    <string>cid62236.glif</string>
    <key>cid62251</key>
    <string>cid62251.glif</string>
    <key>cid62350</key>
    <string>cid62350.glif</string>
    <key>cid62467</key>
    <string>cid62467.glif</string>
    <key>cid62946</key>
    <string>cid62946.glif</string>
    <key>cid63086</key>
    <string>cid63086.glif</string>
    <key>cid65490</key>
    <string>cid65490.glif</string>
    <key>cid65492</key>
    <string>cid65492.glif</string>
    <key>cid65497</key>
    <string>cid65497.glif</string>
    <key>cid65503</key>
    <string>cid65503.glif</string>
    <key>cid65508</key>
    <string>cid65508.glif</string>
    <key>cid65520</key>
    <string>cid65520.glif</string>
  </dict>
</plist>
