<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>cid05741</string>
      <string>cid09654</string>
      <string>cid09668</string>
      <string>cid10000</string>
      <string>cid10107</string>
      <string>cid10182</string>
      <string>cid10250</string>
      <string>cid10467</string>
      <string>cid10514</string>
      <string>cid10556</string>
      <string>cid10569</string>
      <string>cid10573</string>
      <string>cid10575</string>
      <string>cid10625</string>
      <string>cid10666</string>
      <string>cid10678</string>
      <string>cid10680</string>
      <string>cid10695</string>
      <string>cid10729</string>
      <string>cid10731</string>
      <string>cid10740</string>
      <string>cid10747</string>
      <string>cid10773</string>
      <string>cid10787</string>
      <string>cid10818</string>
      <string>cid10826</string>
      <string>cid10952</string>
      <string>cid10969</string>
      <string>cid11081</string>
      <string>cid11083</string>
      <string>cid11190</string>
      <string>cid11258</string>
      <string>cid11284</string>
      <string>cid11337</string>
      <string>cid11476</string>
      <string>cid11506</string>
      <string>cid11517</string>
      <string>cid11571</string>
      <string>cid11632</string>
      <string>cid11648</string>
      <string>cid11651</string>
      <string>cid11654</string>
      <string>cid11685</string>
      <string>cid11775</string>
      <string>cid11816</string>
      <string>cid12226</string>
      <string>cid12237</string>
      <string>cid12275</string>
      <string>cid12337</string>
      <string>cid12409</string>
      <string>cid12526</string>
      <string>cid12585</string>
      <string>cid12594</string>
      <string>cid12599</string>
      <string>cid12616</string>
      <string>cid12617</string>
      <string>cid12622</string>
      <string>cid12627</string>
      <string>cid12628</string>
      <string>cid12630</string>
      <string>cid12635</string>
      <string>cid12637</string>
      <string>cid12639</string>
      <string>cid12645</string>
      <string>cid12650</string>
      <string>cid12653</string>
      <string>cid12654</string>
      <string>cid12658</string>
      <string>cid12663</string>
      <string>cid12664</string>
      <string>cid12668</string>
      <string>cid12669</string>
      <string>cid12672</string>
      <string>cid12673</string>
      <string>cid12676</string>
      <string>cid12679</string>
      <string>cid12682</string>
      <string>cid12683</string>
      <string>cid12685</string>
      <string>cid12696</string>
      <string>cid12702</string>
      <string>cid12710</string>
      <string>cid12738</string>
      <string>cid12754</string>
      <string>cid12760</string>
      <string>cid12784</string>
      <string>cid12788</string>
      <string>cid12793</string>
      <string>cid12804</string>
      <string>cid12845</string>
      <string>cid12924</string>
      <string>cid12925</string>
      <string>cid12939</string>
      <string>cid12945</string>
      <string>cid12954</string>
      <string>cid12992</string>
      <string>cid13027</string>
      <string>cid13061</string>
      <string>cid13069</string>
      <string>cid13206</string>
      <string>cid13212</string>
      <string>cid13216</string>
      <string>cid13223</string>
      <string>cid13224</string>
      <string>cid13228</string>
      <string>cid13231</string>
      <string>cid13237</string>
      <string>cid13482</string>
      <string>cid13514</string>
      <string>cid13642</string>
      <string>cid13686</string>
      <string>cid13693</string>
      <string>cid13821</string>
      <string>cid13834</string>
      <string>cid13838</string>
      <string>cid13841</string>
      <string>cid13965</string>
      <string>cid13972</string>
      <string>cid14167</string>
      <string>cid14421</string>
      <string>cid14540</string>
      <string>cid15003</string>
      <string>cid15067</string>
      <string>cid15115</string>
      <string>cid15137</string>
      <string>cid15253</string>
      <string>cid15294</string>
      <string>cid15421</string>
      <string>cid15654</string>
      <string>cid15728</string>
      <string>cid15735</string>
      <string>cid15795</string>
      <string>cid15868</string>
      <string>cid15883</string>
      <string>cid15905</string>
      <string>cid15952</string>
      <string>cid16096</string>
      <string>cid16118</string>
      <string>cid16138</string>
      <string>cid16167</string>
      <string>cid16196</string>
      <string>cid16227</string>
      <string>cid16243</string>
      <string>cid16338</string>
      <string>cid16445</string>
      <string>cid16453</string>
      <string>cid16569</string>
      <string>cid16689</string>
      <string>cid16755</string>
      <string>cid16762</string>
      <string>cid16772</string>
      <string>cid16779</string>
      <string>cid16799</string>
      <string>cid16801</string>
      <string>cid16816</string>
      <string>cid16822</string>
      <string>cid16824</string>
      <string>cid16837</string>
      <string>cid16874</string>
      <string>cid16877</string>
      <string>cid16956</string>
      <string>cid17013</string>
      <string>cid17051</string>
      <string>cid17070</string>
      <string>cid17072</string>
      <string>cid17129</string>
      <string>cid17156</string>
      <string>cid17168</string>
      <string>cid17270</string>
      <string>cid17282</string>
      <string>cid17287</string>
      <string>cid17520</string>
      <string>cid17550</string>
      <string>cid17559</string>
      <string>cid17616</string>
      <string>cid17737</string>
      <string>cid17746</string>
      <string>cid17758</string>
      <string>cid17786</string>
      <string>cid17789</string>
      <string>cid17814</string>
      <string>cid17937</string>
      <string>cid17944</string>
      <string>cid17951</string>
      <string>cid17986</string>
      <string>cid18014</string>
      <string>cid18039</string>
      <string>cid18070</string>
      <string>cid18161</string>
      <string>cid18169</string>
      <string>cid18278</string>
      <string>cid18284</string>
      <string>cid18393</string>
      <string>cid18434</string>
      <string>cid18440</string>
      <string>cid18530</string>
      <string>cid18600</string>
      <string>cid18617</string>
      <string>cid18810</string>
      <string>cid19003</string>
      <string>cid19117</string>
      <string>cid19204</string>
      <string>cid19252</string>
      <string>cid19269</string>
      <string>cid19288</string>
      <string>cid19289</string>
      <string>cid19335</string>
      <string>cid19349</string>
      <string>cid19352</string>
      <string>cid19368</string>
      <string>cid19402</string>
      <string>cid19415</string>
      <string>cid19465</string>
      <string>cid19512</string>
      <string>cid19539</string>
      <string>cid19542</string>
      <string>cid19560</string>
      <string>cid19562</string>
      <string>cid19606</string>
      <string>cid19659</string>
      <string>cid19664</string>
      <string>cid19666</string>
      <string>cid19677</string>
      <string>cid19679</string>
      <string>cid19718</string>
      <string>cid19742</string>
      <string>cid19765</string>
      <string>cid19777</string>
      <string>cid19839</string>
      <string>cid19848</string>
      <string>cid19877</string>
      <string>cid19944</string>
      <string>cid19967</string>
      <string>cid19995</string>
      <string>cid20000</string>
      <string>cid20025</string>
      <string>cid20029</string>
      <string>cid20077</string>
      <string>cid20101</string>
      <string>cid20125</string>
      <string>cid20333</string>
      <string>cid20381</string>
      <string>cid20413</string>
      <string>cid20418</string>
      <string>cid20429</string>
      <string>cid20484</string>
      <string>cid20525</string>
      <string>cid20531</string>
      <string>cid20641</string>
      <string>cid20661</string>
      <string>cid20663</string>
      <string>cid20671</string>
      <string>cid20677</string>
      <string>cid20732</string>
      <string>cid20856</string>
      <string>cid21032</string>
      <string>cid21042</string>
      <string>cid21058</string>
      <string>cid21199</string>
      <string>cid21206</string>
      <string>cid21284</string>
      <string>cid21652</string>
      <string>cid21672</string>
      <string>cid21719</string>
      <string>cid21973</string>
      <string>cid21981</string>
      <string>cid22021</string>
      <string>cid22034</string>
      <string>cid22081</string>
      <string>cid22134</string>
      <string>cid22146</string>
      <string>cid22196</string>
      <string>cid22251</string>
      <string>cid22282</string>
      <string>cid22324</string>
      <string>cid22368</string>
      <string>cid22424</string>
      <string>cid22441</string>
      <string>cid22455</string>
      <string>cid22564</string>
      <string>cid22574</string>
      <string>cid22583</string>
      <string>cid22618</string>
      <string>cid22729</string>
      <string>cid22795</string>
      <string>cid22820</string>
      <string>cid22839</string>
      <string>cid22848</string>
      <string>cid22859</string>
      <string>cid22888</string>
      <string>cid22935</string>
      <string>cid22939</string>
      <string>cid23469</string>
      <string>cid23487</string>
      <string>cid23567</string>
      <string>cid23731</string>
      <string>cid23758</string>
      <string>cid23780</string>
      <string>cid23799</string>
      <string>cid23805</string>
      <string>cid23874</string>
      <string>cid23904</string>
      <string>cid24028</string>
      <string>cid24142</string>
      <string>cid24165</string>
      <string>cid24193</string>
      <string>cid24246</string>
      <string>cid24247</string>
      <string>cid24257</string>
      <string>cid24269</string>
      <string>cid24362</string>
      <string>cid24377</string>
      <string>cid24558</string>
      <string>cid24572</string>
      <string>cid24633</string>
      <string>cid24682</string>
      <string>cid24709</string>
      <string>cid24723</string>
      <string>cid24750</string>
      <string>cid24778</string>
      <string>cid24788</string>
      <string>cid24802</string>
      <string>cid24807</string>
      <string>cid24819</string>
      <string>cid24973</string>
      <string>cid25087</string>
      <string>cid25254</string>
      <string>cid25287</string>
      <string>cid25397</string>
      <string>cid25589</string>
      <string>cid25622</string>
      <string>cid25635</string>
      <string>cid25676</string>
      <string>cid25705</string>
      <string>cid25767</string>
      <string>cid25768</string>
      <string>cid25779</string>
      <string>cid25888</string>
      <string>cid25935</string>
      <string>cid25948</string>
      <string>cid26059</string>
      <string>cid26167</string>
      <string>cid26170</string>
      <string>cid26196</string>
      <string>cid26197</string>
      <string>cid26290</string>
      <string>cid26406</string>
      <string>cid26458</string>
      <string>cid26479</string>
      <string>cid26664</string>
      <string>cid26673</string>
      <string>cid26769</string>
      <string>cid26795</string>
      <string>cid26819</string>
      <string>cid26979</string>
      <string>cid27032</string>
      <string>cid27148</string>
      <string>cid27177</string>
      <string>cid27200</string>
      <string>cid27452</string>
      <string>cid27456</string>
      <string>cid27493</string>
      <string>cid27595</string>
      <string>cid27639</string>
      <string>cid27655</string>
      <string>cid27672</string>
      <string>cid27675</string>
      <string>cid27837</string>
      <string>cid27847</string>
      <string>cid27875</string>
      <string>cid27938</string>
      <string>cid27987</string>
      <string>cid28148</string>
      <string>cid28182</string>
      <string>cid28516</string>
      <string>cid28533</string>
      <string>cid28541</string>
      <string>cid28571</string>
      <string>cid28589</string>
      <string>cid28633</string>
      <string>cid28677</string>
      <string>cid28690</string>
      <string>cid28724</string>
      <string>cid28780</string>
      <string>cid29032</string>
      <string>cid29232</string>
      <string>cid29258</string>
      <string>cid29294</string>
      <string>cid29296</string>
      <string>cid29308</string>
      <string>cid29312</string>
      <string>cid29321</string>
      <string>cid29369</string>
      <string>cid29485</string>
      <string>cid29594</string>
      <string>cid29597</string>
      <string>cid29604</string>
      <string>cid29613</string>
      <string>cid29652</string>
      <string>cid29654</string>
      <string>cid29666</string>
      <string>cid30017</string>
      <string>cid30104</string>
      <string>cid30170</string>
      <string>cid30175</string>
      <string>cid30219</string>
      <string>cid30313</string>
      <string>cid30338</string>
      <string>cid30359</string>
      <string>cid30407</string>
      <string>cid30453</string>
      <string>cid30457</string>
      <string>cid30501</string>
      <string>cid30567</string>
      <string>cid30577</string>
      <string>cid30603</string>
      <string>cid30635</string>
      <string>cid30653</string>
      <string>cid30655</string>
      <string>cid30677</string>
      <string>cid30680</string>
      <string>cid30706</string>
      <string>cid30709</string>
      <string>cid30721</string>
      <string>cid30726</string>
      <string>cid31166</string>
      <string>cid31285</string>
      <string>cid31295</string>
      <string>cid31315</string>
      <string>cid31468</string>
      <string>cid31477</string>
      <string>cid31570</string>
      <string>cid31576</string>
      <string>cid31622</string>
      <string>cid31644</string>
      <string>cid31902</string>
      <string>cid32209</string>
      <string>cid32296</string>
      <string>cid32488</string>
      <string>cid32521</string>
      <string>cid32598</string>
      <string>cid32753</string>
      <string>cid33116</string>
      <string>cid33170</string>
      <string>cid33183</string>
      <string>cid33283</string>
      <string>cid33292</string>
      <string>cid33343</string>
      <string>cid33349</string>
      <string>cid33352</string>
      <string>cid33355</string>
      <string>cid33410</string>
      <string>cid33427</string>
      <string>cid33430</string>
      <string>cid33433</string>
      <string>cid33453</string>
      <string>cid33616</string>
      <string>cid34009</string>
      <string>cid34286</string>
      <string>cid34556</string>
      <string>cid34645</string>
      <string>cid34701</string>
      <string>cid34749</string>
      <string>cid34770</string>
      <string>cid34914</string>
      <string>cid34967</string>
      <string>cid34972</string>
      <string>cid35066</string>
      <string>cid35115</string>
      <string>cid35154</string>
      <string>cid35167</string>
      <string>cid35198</string>
      <string>cid35233</string>
      <string>cid35274</string>
      <string>cid35379</string>
      <string>cid35448</string>
      <string>cid35574</string>
      <string>cid35585</string>
      <string>cid35612</string>
      <string>cid35630</string>
      <string>cid35650</string>
      <string>cid35659</string>
      <string>cid35667</string>
      <string>cid35686</string>
      <string>cid35757</string>
      <string>cid35783</string>
      <string>cid35801</string>
      <string>cid35862</string>
      <string>cid35916</string>
      <string>cid35940</string>
      <string>cid35944</string>
      <string>cid35955</string>
      <string>cid35981</string>
      <string>cid35985</string>
      <string>cid35993</string>
      <string>cid35999</string>
      <string>cid36024</string>
      <string>cid36031</string>
      <string>cid36033</string>
      <string>cid36050</string>
      <string>cid36056</string>
      <string>cid36059</string>
      <string>cid36064</string>
      <string>cid36070</string>
      <string>cid36105</string>
      <string>cid36109</string>
      <string>cid36113</string>
      <string>cid36123</string>
      <string>cid36126</string>
      <string>cid36149</string>
      <string>cid36151</string>
      <string>cid36154</string>
      <string>cid36170</string>
      <string>cid36175</string>
      <string>cid36198</string>
      <string>cid36210</string>
      <string>cid36219</string>
      <string>cid36235</string>
      <string>cid36256</string>
      <string>cid36261</string>
      <string>cid36273</string>
      <string>cid36283</string>
      <string>cid36310</string>
      <string>cid36313</string>
      <string>cid36316</string>
      <string>cid36333</string>
      <string>cid36335</string>
      <string>cid36357</string>
      <string>cid36390</string>
      <string>cid36430</string>
      <string>cid36440</string>
      <string>cid36454</string>
      <string>cid36465</string>
      <string>cid36467</string>
      <string>cid36473</string>
      <string>cid36481</string>
      <string>cid36483</string>
      <string>cid36530</string>
      <string>cid36544</string>
      <string>cid36552</string>
      <string>cid36576</string>
      <string>cid36590</string>
      <string>cid36605</string>
      <string>cid36607</string>
      <string>cid36629</string>
      <string>cid36637</string>
      <string>cid36682</string>
      <string>cid36721</string>
      <string>cid36928</string>
      <string>cid37031</string>
      <string>cid37155</string>
      <string>cid37196</string>
      <string>cid37294</string>
      <string>cid37419</string>
      <string>cid37430</string>
      <string>cid38023</string>
      <string>cid38052</string>
      <string>cid38250</string>
      <string>cid38348</string>
      <string>cid38359</string>
      <string>cid38381</string>
      <string>cid38401</string>
      <string>cid38631</string>
      <string>cid38637</string>
      <string>cid38677</string>
      <string>cid38814</string>
      <string>cid38907</string>
      <string>cid38921</string>
      <string>cid38942</string>
      <string>cid38958</string>
      <string>cid38967</string>
      <string>cid39146</string>
      <string>cid39231</string>
      <string>cid39413</string>
      <string>cid39459</string>
      <string>cid39488</string>
      <string>cid39628</string>
      <string>cid39640</string>
      <string>cid39659</string>
      <string>cid39660</string>
      <string>cid39666</string>
      <string>cid39669</string>
      <string>cid39675</string>
      <string>cid39676</string>
      <string>cid39682</string>
      <string>cid39720</string>
      <string>cid39723</string>
      <string>cid39724</string>
      <string>cid39726</string>
      <string>cid39732</string>
      <string>cid39740</string>
      <string>cid39742</string>
      <string>cid39752</string>
      <string>cid39754</string>
      <string>cid39755</string>
      <string>cid39756</string>
      <string>cid39771</string>
      <string>cid39773</string>
      <string>cid39775</string>
      <string>cid39780</string>
      <string>cid39798</string>
      <string>cid39801</string>
      <string>cid39807</string>
      <string>cid39811</string>
      <string>cid39831</string>
      <string>cid39841</string>
      <string>cid39843</string>
      <string>cid39856</string>
      <string>cid39858</string>
      <string>cid39866</string>
      <string>cid39873</string>
      <string>cid39875</string>
      <string>cid39888</string>
      <string>cid39909</string>
      <string>cid39998</string>
      <string>cid40009</string>
      <string>cid40147</string>
      <string>cid40175</string>
      <string>cid40183</string>
      <string>cid40203</string>
      <string>cid40423</string>
      <string>cid40426</string>
      <string>cid40474</string>
      <string>cid40504</string>
      <string>cid40517</string>
      <string>cid40527</string>
      <string>cid40536</string>
      <string>cid40546</string>
      <string>cid40552</string>
      <string>cid40581</string>
      <string>cid40589</string>
      <string>cid40598</string>
      <string>cid40612</string>
      <string>cid40616</string>
      <string>cid40827</string>
      <string>cid40866</string>
      <string>cid40927</string>
      <string>cid40932</string>
      <string>cid40934</string>
      <string>cid40944</string>
      <string>cid40955</string>
      <string>cid40981</string>
      <string>cid40993</string>
      <string>cid40995</string>
      <string>cid40998</string>
      <string>cid41018</string>
      <string>cid41024</string>
      <string>cid41028</string>
      <string>cid41047</string>
      <string>cid41050</string>
      <string>cid41060</string>
      <string>cid41064</string>
      <string>cid41068</string>
      <string>cid41084</string>
      <string>cid41091</string>
      <string>cid41105</string>
      <string>cid41109</string>
      <string>cid41120</string>
      <string>cid41181</string>
      <string>cid41195</string>
      <string>cid41561</string>
      <string>cid41775</string>
      <string>cid41947</string>
      <string>cid42205</string>
      <string>cid42553</string>
      <string>cid42964</string>
      <string>cid42991</string>
      <string>cid43154</string>
      <string>cid43191</string>
      <string>cid43366</string>
      <string>cid43385</string>
      <string>cid43398</string>
      <string>cid43406</string>
      <string>cid43415</string>
      <string>cid43690</string>
      <string>cid43695</string>
      <string>cid43717</string>
      <string>cid43721</string>
      <string>cid43748</string>
      <string>cid43752</string>
      <string>cid43792</string>
      <string>cid43804</string>
      <string>cid43846</string>
      <string>cid43854</string>
      <string>cid44068</string>
      <string>cid44081</string>
      <string>cid44100</string>
      <string>cid44128</string>
      <string>cid44147</string>
      <string>cid44213</string>
      <string>cid44218</string>
      <string>cid44223</string>
      <string>cid44228</string>
      <string>cid44236</string>
      <string>cid44245</string>
      <string>cid44263</string>
      <string>cid44600</string>
      <string>cid44748</string>
      <string>cid44753</string>
      <string>cid44757</string>
      <string>cid44758</string>
      <string>cid44774</string>
      <string>cid44795</string>
      <string>cid44799</string>
      <string>cid44810</string>
      <string>cid44813</string>
      <string>cid44817</string>
      <string>cid44819</string>
      <string>cid44823</string>
      <string>cid44837</string>
      <string>cid44867</string>
      <string>cid44870</string>
      <string>cid44894</string>
      <string>cid44912</string>
      <string>cid44952</string>
      <string>cid44966</string>
      <string>cid44980</string>
      <string>cid44989</string>
      <string>cid44992</string>
      <string>cid44996</string>
      <string>cid45028</string>
      <string>cid45032</string>
      <string>cid45041</string>
      <string>cid45047</string>
      <string>cid45052</string>
      <string>cid45053</string>
      <string>cid45057</string>
      <string>cid45070</string>
      <string>cid45152</string>
      <string>cid45156</string>
      <string>cid45179</string>
      <string>cid45190</string>
      <string>cid45203</string>
      <string>cid45206</string>
      <string>cid45240</string>
      <string>cid45250</string>
      <string>cid45254</string>
      <string>cid45255</string>
      <string>cid45265</string>
      <string>cid45458</string>
      <string>cid45499</string>
      <string>cid45505</string>
      <string>cid45508</string>
      <string>cid45533</string>
      <string>cid45546</string>
      <string>cid45721</string>
      <string>cid45885</string>
      <string>cid46039</string>
      <string>cid46171</string>
      <string>cid46204</string>
      <string>cid46282</string>
      <string>cid46337</string>
      <string>cid46350</string>
      <string>cid46352</string>
      <string>cid46359</string>
      <string>cid46362</string>
      <string>cid46402</string>
      <string>cid46477</string>
      <string>cid46544</string>
      <string>cid46555</string>
      <string>cid46679</string>
      <string>cid46782</string>
      <string>cid46788</string>
      <string>cid46790</string>
      <string>cid46949</string>
      <string>cid46966</string>
      <string>cid46972</string>
      <string>cid46976</string>
      <string>cid47018</string>
      <string>cid47025</string>
      <string>cid47033</string>
      <string>cid47040</string>
      <string>cid47043</string>
      <string>cid47045</string>
      <string>cid47048</string>
      <string>cid47062</string>
      <string>cid47075</string>
      <string>cid47087</string>
      <string>cid47099</string>
      <string>cid47348</string>
      <string>cid47360</string>
      <string>cid47366</string>
      <string>cid47383</string>
      <string>cid47461</string>
      <string>cid47464</string>
      <string>cid60021</string>
      <string>cid60123</string>
      <string>cid60149</string>
      <string>cid60658</string>
      <string>cid60810</string>
      <string>cid61223</string>
      <string>cid61512</string>
      <string>cid61976</string>
      <string>cid62103</string>
      <string>cid62129</string>
      <string>cid62236</string>
      <string>cid62251</string>
      <string>cid62350</string>
      <string>cid62467</string>
      <string>cid62946</string>
      <string>cid63086</string>
      <string>cid65490</string>
      <string>cid65492</string>
      <string>cid65497</string>
      <string>cid65503</string>
      <string>cid65508</string>
      <string>cid65520</string>
    </array>
  </dict>
</plist>
